<div class="container" ng-controller="AboutController as ac" ng-init="ac.getAboutUs()">
    <div class="row">
        <div ng-repeat="detail in ac.aboutUsDetails | filter:{IsActive:true}">
            <div class="col-xs-12 col-md-{{detail.size}}">
                <div class="md-card single-product" style="background:black;color:white;width:100%;height:{{detail.height || 300}}px ;max-height:{{detail.height || 300}}px!important; overflow:hidden">
                    <div>
                        <img ng-if="detail.type=='image'" src="{{detail.url}} " alt="Tripti 's Profile Picture" width="100%" />
                        <video ng-if="detail.type=='video'" width="detail.video.width || 320" height="detail.video.height || 240" controls>
                            <source src="detail.video.src" type="video/mp4">
                        </video>
                        <div>
                            <p ng-if="detail.type=='text'" ng-bind-html="detail.text"> </p>
                        </div>
                    </div>
                    <div class="button-container">
                        <ul>
                            <li>
                                <a ng-click="ac.showAlert('text',detail)">
                                    <i class="fa fa-file-text-o fa-2x product-action-icons" aria-hidden="true" title="Text"></i>
                                </a>
                            </li>
                            <li>
                                <a ng-click="ac.showAlert('image',detail)">
                                    <i class="fa fa-file-picture-o fa-2x product-action-icons" aria-hidden="true" title="Image"></i>
                                </a>
                            </li>
                            <li>
                                <a ng-click="ac.showAlert('video',detail)">
                                    <i class="fa fa-file-movie-o fa-2x product-action-icons" aria-hidden="true" title="Video"></i>
                                </a>
                            </li>
                            <li>
                                <input placeholder="Width" style="height:40px;color:black;width:80px;" min="2" max="12" step="1" type="number" title="Width" ng-init="detail.size = detail.size || 12 " ng-model="detail.size">

                            </li>
                            <li>
                                <a ng-click="ac.removeTab(detail)">
                                    <i style="color:red" class="fa fa-remove fa-2x product-action-icons" aria-hidden="true" title="Delete"></i>
                                </a>
                            </li>
                            <br/>
                            <li style="padding-top:10px">
                                HEIGHT :
                                <input type="text" ng-model="detail.height" style="color:black" />
                                <input style="height:40px;color:black" min="250" max="1000" type="range" title="Height" ng-model="detail.height">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="single-product md-card" style="width:100%">
                <div class="item-top">
                    <a><img class="img_Product" ng-src=""></a>
                    <div class="button-container">
                        <ul>
                            <li>
                                <a ng-click="ac.addNewTab()">
                                    <i class="fa fa-plus fa-4x product-action-icons" aria-hidden="false" title="Add New"></i>
                                </a>
                            </li>
                            <li>
                                <a ng-click="ac.save()">
                                    <i class="fa fa-save fa-4x product-action-icons" aria-hidden="false" title="Save Page"></i>
                                </a>
                            </li>
                            <li>
                                <a ng-click="ac.cancel()">
                                    <i class="fa fa-remove fa-4x product-action-icons" aria-hidden="false" title="Cancel"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="item-bottom">
                    <br/>
                    <div class="text-center">
                        <strong>Profile Page Actions</strong>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
        <div style="visibility: hidden">
            <div class="md-dialog-container" id="image_Dialog" style="z-index:1006 !important">
                <md-dialog>
                    <form name="testForm" layout="column">
                        <md-content layout-padding>
                            <div layout-gt-sm="row">
                                <lf-ng-md-file-input class="col-xs-12" lf-files="imagefiles" accept="image/*" drag lf-required lf-filesize="5MB" lf-mimetype="image/*"></lf-ng-md-file-input>
                            </div>
                            <div layout-gt-sm="row">
                                <div class="col-xs-12 col-md-4">&nbsp;</div>
                                <div class="col-xs-12 col-md-4">&nbsp;</div>
                                <div class="col-xs-12 col-md-4">
                                    <button type="button" class="btn btn-lg btn-warning" ng-click="ac.upload()">
                                        <b>Upload Image</b>
                                    </button>
                                </div>
                            </div>
                        </md-content>
                    </form>
                </md-dialog>
            </div>
        </div>
        <div style="visibility: hidden">
            <div class="md-dialog-container" id="video_Dialog" style="z-index:1006 !important">
                <md-dialog>
                    <form name="testForm" layout="column">
                        <md-content layout-padding>
                            <div layout-gt-sm="row">
                                <lf-ng-md-file-input class="col-xs-12" lf-files="videofiles" accept="video/*" drag lf-required lf-filesize="5MB" lf-mimetype="image/*"></lf-ng-md-file-input>
                            </div>
                            <div layout-gt-sm="row">
                                <div class="col-xs-12 col-md-4">&nbsp;</div>
                                <div class="col-xs-12 col-md-4">&nbsp;</div>
                                <div class="col-xs-12 col-md-4">
                                    <button type="button" class="btn btn-lg btn-warning" ng-click="ac.upload()">
                                        <b>Upload Video</b>
                                    </button>
                                </div>
                            </div>
                        </md-content>
                    </form>
                </md-dialog>
            </div>
        </div>
        <div style="visibility: hidden">
            <div class="md-dialog-container" id="text_Dialog" style="z-index:1006 !important">
                <md-dialog>
                    <form name="testForm" layout="column">
                        <md-content layout-padding>
                            <div layout-gt-sm="row">
                                <!--                                <textarea cols="50" rows="5" class="form-control" md-autofocus></textarea>-->
                                <div text-angular ng-model="ac.profiletext"></div>
                            </div>
                            <div layout-gt-sm="row">
                                <div class="col-xs-12 col-md-4">&nbsp;</div>
                                <div class="col-xs-12 col-md-4">&nbsp;</div>
                                <div class="col-xs-12 col-md-4">
                                    <button type="button" class="btn btn-lg btn-warning" ng-click="ac.saveText(ac.profiletext)">
                                        <b>Save Text</b>
                                    </button>
                                </div>
                            </div>
                        </md-content>
                    </form>
                </md-dialog>
            </div>
        </div>
    </div>
</div>