<div class="col-xs-12 col-md-6" ng-controller="ContactusController as cc">
    <div class="md-card" style="width:100%">
        <div class="padding" style="padding-top:15px;">
            <div class="container">
                <legend>Contact Tripti!</legend>
                <form name="userForm">
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Full Name</label>
                            <input type="text" ng-model="cc.contact.name" ng-required="true">
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Email</label>
                            <input ng-model="cc.contact.email" type="email" ng-required="true">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Mobile</label>
                            <input ng-model="cc.contact.tel" type="number" ng-required="true" maxlength="11">
                        </md-input-container>
                    </div>

                    <md-input-container class="md-block">
                        <label>Query / Feedback</label>
                        <input type="text" maxlength="500" ng-model="cc.contact.query" ng-required="true">
                    </md-input-container>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>City</label>
                            <input type="text" ng-model="cc.contact.city">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Country</label>
                            <input type="text" ng-model="cc.contact.country" />
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Zip/Postal Code</label>
                            <input type="text" ng-model="cc.contact.zip">
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <div class="col-xs-12 text-right">
                            <button type="submit" ng-disabled="!userForm.$valid" ng-click="cc.saveContact()" class="btn btn-large btn-warning">Send <span class="glyphicon glyphicon-send"></span></button>
                        </div>
                    </div>
                    <div class="visible-xs">
                        <div layout-gt-sm="row">
                            <div class="col-xs-12 text-right">
                                &nbsp;
                            </div>
                        </div>
                    </div>
                    <br/>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-6">
    <div class="md-card">
        <div class="padding" style="padding:15px;">
            <a target="_blank" href="//maps.google.com/maps?q=Watford+%2c+Watford%2c+United+Kingdom"><img src="https://maps.google.com/maps/api/staticmap?center=Watford+%2c+Watford%2c+United+Kingdom&amp;size=600x384&amp;maptype=roadmap&amp;markers=size:Big|color:red|Watford+%2c+Watford%2c+United+Kingdom&amp;sensor=false&amp;key=AIzaSyBx0V8Q6B7eXvZX5E7kyJ6N0L5R-lcu4-Y"></a>
        </div>
    </div>
</div>