<div class="container" ng-controller="AboutController as ac" ng-init="ac.getAboutUs()">
    <div class="row">
        <div ng-repeat="detail in ac.aboutUsDetails">
            <div class="col-xs-12 col-md-{{detail.size}}">
                <div class="md-card" style="width:100%;height:{{detail.height || 300}}px">
                    <div class="padding" style="padding:15px;">
                        <img ng-if="detail.type=='image'" src="{{detail.url}} " alt="Tripti 's Profile Picture" width="100%" />
                        <p ng-if="detail.type=='text'" ng-bind="detail.text"> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>